<config>
    <!-- Interfacce -->
    <interface hosts="IoTSensor1" names="wlan0"
        address="10.0.0.1" netmask="255.255.255.248" metric="10" />
    <interface hosts="IoTSensor2" names="wlan0"
        address="10.0.0.2" netmask="255.255.255.248" metric="10" />
    <interface hosts="IoTSensor3" names="wlan0"
        address="10.0.0.3" netmask="255.255.255.248" metric="10" />
    <interface hosts="IoTGateway" names="wlan0"
        address="10.0.0.4" netmask="255.255.255.248" metric="10" />
    <interface hosts="IoTGateway" names="eth0" address="10.0.0.9"
        netmask="255.255.255.252" metric="10" />
    <interface hosts="server" names="eth0" address="10.0.0.10"
        netmask="255.255.255.252" metric="10" />

    <!-- Wireless -->
    <wireless
        interfaces="IoTSensor1%wlan0 IoTSensor2%wlan0 IoTSensor3%wlan0 IoTGateway%wlan0" />

    <!-- Sensori ? Gateway -->
    <route hosts="IoTSensor1" destination="*" netmask="*"
        gateway="10.0.0.4" interface="wlan0" metric="0" />
    <route hosts="IoTSensor2" destination="*" netmask="*"
        gateway="10.0.0.4" interface="wlan0" metric="0" />
    <route hosts="IoTSensor3" destination="*" netmask="*"
        gateway="10.0.0.4" interface="wlan0" metric="0" />

    <!-- Gateway ? Server -->
    <route hosts="IoTGateway" destination="10.0.0.10"
        netmask="255.255.255.255" gateway="*" interface="eth0" metric="0" />

    <!-- Gateway ? subnet wireless -->
    <route hosts="IoTGateway" destination="10.0.0.0"
        netmask="255.255.255.248" gateway="*" interface="wlan0" metric="0" />

    <!-- Server ? subnet wireless (via gateway) -->
    <route hosts="server" destination="10.0.0.0"
        netmask="255.255.255.248" gateway="10.0.0.9" interface="eth0" metric="0" />
</config>